<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <title>晋城职业技术学院-教师个人中心</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/public/css/animate.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/css/plugins/dataTables/datatables.min.css">
    <link rel="stylesheet" href="/public/css/plugins/dataTables/buttons.dataTables.min.css">
    <script src="/public/js/jquery-3.1.1.min.js"></script>
</head>

<body>
    <div id="wrapper">

        <% include /teacherpartial/nav.ejs %>

        <script>
            var activity = "students";
            $('#side-menu .' + activity).addClass('active');
            $($('#side-menu .' + activity).parent().parent()[0]).addClass('active');
        </script>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <% include /teacherpartial/header.ejs %>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-3">
                        <select id="clas" class="custom-select">
                            <%for(var i=0;i < clas.length; i++){%>
                            <option value="<%= clas[i] %>"><%= clas[i] %></option>
                            <%}%>
                        </select>
                    </div>
                </div>
                <div class="row" style="margin-top: 10px;">
                    <div class="col-lg-12">
                            <table id="example" class="display" style="width:100%">
                            <thead>
                                        <tr>
                                            <th>姓名</th>
                                            <th>学号</th>
                                            <th>重置密码</th>
                                        </tr>
                                    </thead>
                            <tbody>
                            <%for(var i=0;i < data.length; i++){%>
                            <tr>
                                <td><%= data[i].name %></td>
                                <td><%= data[i].studentid %></td>
                                <td><button data-studentid="<%= data[i].studentid %>" type="button"
                                        class="btn btn-primary npass">重置</button></td>
                            </tr>
                            <%}%>
                            </tbody>
                         </table>
                    </div>
                </div>
            </div>
            
            <% include /teacherpartial/footer.ejs %>
                    </div>
                </div>
                <script src="/public/js/popper.min.js"></script>
                <script src="/public/js/bootstrap.min.js"></script>
                <script src="/public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
                <script src="/public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
                <script src="/public/js/inspinia.js"></script>
                <script src="/public/js/plugins/pace/pace.min.js"></script>
                <script src="/public/js/plugins/dataTables/datatables.min.js"></script>
                <script src="/public/js/plugins/dataTables/dataTables.buttons.min.js"></script>
                <script>
                    $('#clas').change(function () {
                        let clas = $('#clas').find("option:selected").val();
                        window.location.href = '/teacher/students?clas=' + clas;
                    })

                    $(document).ready(function () {
                        //配置DataTables默认参数
                        $.extend(true, $.fn.dataTable.defaults, {
                            "language": {
                                "url": "/public/language/Chinese.txt"
                            },
                            "dom": "l<'#toolbar'>frtip"
                        });

                        $('#example').DataTable({
                        });

                        /**
                         * 重置密码
                         * */
                        $('.npass').click(function (e) {
                            let studentid = $(e.target).data('studentid');
                            $('.ibox-content').mLoading({
                                text: "修改密码中...",
                            });
                            $.ajax({
                                url: "/teacher/students/password",
                                type: "PUT",
                                dataType: 'json',
                                data: {
                                    studentid: studentid
                                },
                                success: function (data) {
                                    $('.ibox-content').mLoading('hide');
                                    if (data.code === 1) {
                                        alert('修改成功,密码为：123456');
                                    } else {
                                        alert(data.err);
                                    }
                                },

                                error: function (data) {
                                    err(data);
                                    $('.ibox-content').mLoading('hide');
                                }
                            });
                        })
                    });
                </script>
</body>

</html>