<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <title>晋城职业技术学院-教师个人中心</title>
    <link href="/public/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/public/css/animate.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <script src="/public/js/jquery-3.1.1.min.js"></script>
    <style>
        body {
            padding: 0px;
            margin: 0px;
        }

        .title {
            font-weight: 500;
        }

        .ibox-content {

            padding-bottom: 30px;
            margin: 0 auto;
            font-size: 16px;
        }

        .ibox-content p {
            margin-top: 0;
            padding-top: 0
        }

        .ibox-content img {
            padding: 0
        }

        .form-group {
            padding: 0 1.5rem;
            overflow: hidden;
            line-height: 30px;
            margin-bottom: 15px
        }

        .i-checks {
            float: left;
            padding-right: 20px
        }

        .form-group label {
            width: 250px;
            display: block;
            white-space: nowrap;
        }

        .form-control {
            width: 97%;
            height: 35px;
            border: 1px #e7eaec solid;
            font-size: 15px;
            padding-left: 5px;
            color: #999;
            background-color: #f1f1f1;
        }

        .select-country {
            height: 35px;
            border: 1px #e7eaec solid;
            font-size: 13px;
            padding-left: 5px;
            color: #999;
            background-color: #f1f1f1;
        }

        .select-country2 {
            height: 35px;
            border: 1px #e7eaec solid;
            font-size: 13px;
            padding-left: 5px;
            color: #999;
            margin-bottom: 15px;
            background-color: #f1f1f1;
        }

        .input-group-append .btn-primary {
            background-color: #999;
            height: 39px;
            width: 28.5%;
            margin-left: 8px;
            float: left;
            color: #fff;
            border: none;
            cursor: pointer;
            font-size: 15px
        }

        .btn-primary2 {
            background-color: #177ce4;
            height: 39px;
            width: 200px;
            color: #fff;
            border: none;
            cursor: pointer;
            text-align: center;
            margin: 15px auto 20px auto;
            display: block;
            font-size: 15px
        }

        .input-group-append .btn-primary:hover {
            background-color: #177ce4;
        }

        .file {
            background-color: #e7eaec;
            width: 100px;
            height: 100px;
            float: right;
            margin-right: 1rem;
        }

        .file a {
            color: #999;
            cursor: pointer;
            margin: 0 auto;
            text-decoration: none;
            display: block;
            line-height: 100px;
            width: 64px
        }

        .total-top {
            overflow: hidden;
        }


        @media screen and (min-width: 800px) {
            .center-content {
                width: 800px
            }

            .ibox-content {
                width: 100%;
                height: auto;
                background-size: cover;

            }

            .select-country {
                width: 98%
            }

            .tips-card {
                width: 67.5%
            }

            .select-country2 {
                width: 40%
            }

            .tips-card {
                width: 67.5%
            }

            .select-country2 {
                float: right;
                width: 40%;
                margin-right: 1rem
            }
        }

        @media screen and (min-width:480px) and (max-width:800px) {
            .center-content {
                width: 100%;

            }

            .top-img {
                width: 100%
            }

            .select-country {
                width: 100%
            }

            .tips-card {
                width: 67%
            }

            .select-country2 {
                width: 40%
            }

            .select-country2 {
                float: right;
                width: 40%;
                margin-right: 1rem
            }
        }

        @media screen and (max-width: 480px) {
            .center-content {
                width: 100%;
                margin-bottom: 20px !important;
            }

            .form-group .title {
                white-space: normal;
                width: 100%;
            }

            .form-control {
                font-size: 13px;
            }

            body>div>div.center-content>p>strong>span {
                display: inline-block;
            }

            .file {
                margin-right: 0px;
            }

            div.center-content>div.total-top>div:nth-child(2) {
                width: 29% !important;
            }

            .ibox-content {
                border: 1px #e7eaec solid;
            }

            .top-img {
                width: 100% !important;
                height: 200px !important;
            }

            .select-country {
                width: 100%;
            }

            .tips-card {
                width: 64%
            }

            .input-group-append .btn-primary {
                width: 30%;
            }

            .select-country2 {
                width: 40%
            }

            .select-country2 {
                float: left;
                width: 100%
            }
        }

        .en {
            color: rgb(158, 158, 169);
            font-size: 12px;
        }
    </style>
</head>

<body>
    <div id="wrapper">
        <% include /teacherpartial/nav.ejs %>
        <script>
            var activity = "userinfo";
            $('#side-menu .' + activity).addClass('active');
            $($('#side-menu .' + activity).parent().parent()[0]).addClass('active');
        </script>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <% include /teacherpartial/header.ejs %>
            </div>
            <style>
                .btn-primary2 {
                    background-color: #177ce4;
                    height: 30px;
                    width: 100px;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    display: block;
                    font-size: 15px;
                }
            </style>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="ibox-content">
                        <div class="center-content" style="margin:0 auto;background-color:#fff">
                            <div class="form-group">
                                <label class="title"><span style="color:red;padding-right:5px">*</span>姓名 <span
                                        class="en">Name</span>：</label>
                                <input type="text" placeholder="" class="form-control" value="<%= user.name %>"
                                    id="name">
                            </div>
                            <div class="form-group" id="sex">
                                <label class="title"><span style="color:red;padding-right:5px">*</span>性别 <span
                                        class="en">Sex</span>：</label>
                                <select class="select-country" name="account" style="height:39px" id="sex">
                                    <% if (user.sex == 0) { %>
                                    <option value="0" selected>男</option>
                                    <option value="1">女</option>
                                    <% } %>
                                    <% if (user.sex == 1) { %>
                                    <option value="0">男</option>
                                    <option value="1" selected>女</option>
                                    <% } %>
                                </select>
                            </div>
                            <div class="form-group">
                                <label class="title"><span style="color:red;padding-right:5px">*</span>所在系<span
                                        class="en"></span>：</label>
                                <select class="select-country" name="account" style="height:39px" id="department">
                                    <%for(var i = 0 ;i < deps.length; i++){%>
                                    <option value="<%= deps[i] %>"><%= deps[i] %></option>
                                    <%}%>
                            </select>  
                        </div>
                        <div class="form-group">
                            <label class="title"><span style="color:red;padding-right:5px"></span>工号 <span
                                    class="en"></span>：</label>
                            <input type="text" placeholder="" class="form-control" id="studentid"  value="<%= user.studentid %>"
                                    disabled>
                            </div>

                            <div style="height: 52px;">
                                <button type="button" class="btn btn-primary2" id="submit">保存<span class="en"
                                        style="color: white;"></span></button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <% include /teacherpartial/footer.ejs %>
        </div>
    </div>

    <script src="/public/js/popper.min.js"></script>
    <script src="/public/js/bootstrap.min.js"></script>
    <script src="/public/js/plugins/metisMenu/jquery.metisMenu.js"></script>
    <script src="/public/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
    <script src="/public/js/inspinia.js"></script>
    <script src="/public/js/plugins/pace/pace.min.js"></script>
    <script>
        initView()
        function initView() {
            let department = "<%= user.department %>";
            $('#department').val(department);
            let t = "<%= type %>";
            if (t) {
                alert(t);
            }
        }

        $('#submit').click(function () {
            var name = $('#name').val();
            var sex = $('#sex').find("option:selected").val();
            var department = $('#department').find("option:selected").val();

            if (name == '') {
                alert('姓名不能为空');
                return;
            }

            $('.ibox-content').mLoading({
                text: "上传中...",
            });
            $.ajax({
                url: "/teacher/user",
                type: "PUT",
                dataType: 'json',
                data: {
                    name: name,
                    sex: sex,
                    department: department,
                },
                success: function (data) {
                    $('.ibox-content').mLoading('hide');
                    if (data.code === 1) {
                        alert('修改成功');
                    } else {
                        alert(data.err);
                    }
                },

                error: function (data) {
                    err(data);
                    $('.ibox-content').mLoading('hide');

                }
            });
        })
    </script>
</body>

</html>