<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="shortcut icon" href="/public/favicon.ico" type="image/x-icon" />
    <title>晋城职业技术学院-<%= clas %></title>
    <link href="/public/info/css/bootstrap.min.css" rel="stylesheet">
    <link href="/public/info/font-awesome/css/font-awesome.css" rel="stylesheet">
    <link href="/public/info/css/animate.css" rel="stylesheet">
    <link href="/public/info/css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="/public/info/css/plugins/dataTables/datatables.min.css">
    <link rel="stylesheet" href="/public/info/css/plugins/dataTables/buttons.dataTables.min.css">
    <script src="/public/info/js/jquery-3.1.1.min.js"></script>
</head>

<body>
    <div id="wrapper">
        <% include /adminpartial/nav.ejs %>
        <script>
            var activity = "clas";
            $('#side-menu .' + activity).addClass('active');
            $($('#side-menu .' + activity).parent().parent()[0]).addClass('active');
        </script>
        <div id="page-wrapper" class="gray-bg">
            <div class="row border-bottom">
                <% include /adminpartial/header.ejs %>
            </div>
            <style>
                .btn-primary2 {
                    background-color: #177ce4;
                    height: 30px;
                    width: 100px;
                    color: #fff;
                    border: none;
                    cursor: pointer;
                    text-align: center;
                    display: block;
                    font-size: 15px;
                }
            </style>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row" style="margin-bottom: 10px;">
                    <div class="col-lg-2">
                        <select class="custom-select" id="inputGroupSelect01">
                            <% if (time == 'week') { %>
                            <option selected value="week">本周</option>
                            <option value="month">本月</option>
                            <option value="day">当天</option>
                            <% } %>
                            <% if (time == 'month') { %>
                            <option value="week">本周</option>
                            <option value="month" selected>本月</option>
                            <option value="day">当天</option>
                            <% } %>
                            <% if (time == 'day') { %>
                            <option value="week">本周</option>
                            <option value="month">本月</option>
                            <option value="day" selected>当天</option>
                            <% } %>
                        </select>
                    </div>

                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <table id="example" class="display" style="width:100%">
                            <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>是否去过武汉</th>
                                    <th>性别</th>
                                    <th>所在班级</th>
                                    <th>学号</th>
                                    <th>目前所在城市</th>
                                    <th>重置密码</th>
                                    <th>出行记录</th>
                                    <th>操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <%for(var i=0;i < data.length; i++){%>
                                <tr>
                                    <td><%= data[i].name %></td>
                                    <% if (data[i].wuhan == 0) { %>
                                    <td>是</td>
                                    <% } else { %>
                                    <td>否</td>
                                    <% } %>
                                    <% if (data[i].sex == 0) { %>
                                    <td>男</td>
                                    <% } else { %>
                                    <td>女</td>
                                    <% } %>
                                    <td><%= data[i].clas %></td>
                                    <td><%= data[i].studentid %></td>
                                    <td><%= data[i].city %></td>
                                    <td><button data-studentid="<%= data[i].studentid %>" type="button"
                                            class="btn btn-primary npass">重置</button></td>
                                    <td>
                                        <button data-username="<%= data[i].name %>" data-travel="<%= data[i].travel %>"
                                            type="button" class="btn btn-primary travel">显示</button>
                                    </td>
                                    <th><a href="/admin/clasdata?sid=<%= data[i].sid %>&n=<%= data[i].name %>"
                                            target="_blank">体温记录</a></th>
                                </tr>
                                <%}%>
                        </tbody>
  
                    </table>
                </div>
            </div>
        </div>

        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalCenterTitle">出行记录</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body" id="travel-body">
                     
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-secondary" data-dismiss="modal">关闭</button>
                    </div>
                  </div>
                </div>
              </div>
        <% include /adminpartial/footer.ejs %>
                    </div>
                </div>

                <script src="/public/info/js/popper.min.js"></script>
                <script src="/public/info/js/bootstrap.min.js"></script>
                <script src="/public/info/js/plugins/metisMenu/jquery.metisMenu.js"></script>
                <script src="/public/info/js/plugins/slimscroll/jquery.slimscroll.min.js"></script>
                <script src="/public/info/js/inspinia.js"></script>
                <script src="/public/info/js/plugins/pace/pace.min.js"></script>
                <script src="/public/info/js/plugins/dataTables/datatables.min.js"></script>
                <script src="/public/info/js/plugins/dataTables/dataTables.buttons.min.js"></script>
                <script src="/public/info/js/plugins/dataTables/buttons.flash.min.js"></script>
                <script src="/public/info/js/plugins/dataTables/jszip.min.js"></script>
                <script src="/public/info/js/plugins/dataTables/pdfmake.min.js"></script>
                <script src="/public/info/js/plugins/dataTables/vfs_fonts.js"></script>
                <script src="/public/info/js/plugins/dataTables/buttons.html5.min.js"></script>
                <script>
                    $(document).ready(function () {
                        //配置DataTables默认参数
                        $.extend(true, $.fn.dataTable.defaults, {
                            "language": {
                                "url": "/public/language/Chinese.txt"
                            },
                            "dom": "l<'#toolbar'>frtip"
                        });

                        $('#example').DataTable({
                            dom: 'Bfrtip',
                            buttons: [
                                'excel', 'pdf',
                            ]
                        });
                        $('#inputGroupSelect01').change(function () {
                            var time = $('#inputGroupSelect01').find("option:selected").val();
                            window.location.href = `/admin/clasdata?clas=<%= clas %>&department=<%= department %>&time=${time}`;
                        });

                        /**
                         * 重置密码
                         * */
                        $('.npass').click(function (e) {
                            let studentid = $(e.target).data('studentid');
                            $('.ibox-content').mLoading({
                                text: "修改密码中...",
                            });
                            $.ajax({
                                url: "/admin/student/cpass",
                                type: "PUT",
                                dataType: 'json',
                                data: {
                                    studentid: studentid
                                },
                                success: function (data) {
                                    $('.ibox-content').mLoading('hide');
                                    if (data.code === 1) {
                                        alert('修改成功,密码为：123456');
                                    } else {
                                        alert(data.err);
                                    }
                                },

                                error: function (data) {
                                    err(data);
                                    $('.ibox-content').mLoading('hide');

                                }
                            });
                        })

                        $('.travel').click(function (e) {
                            $('#exampleModalCenter').modal('show');
                            let arr = $(e.target).data('travel');
                            let html = ``;
                            arr.map(function (ele) {
                                html += `<div class="content">
                    <div class="form-group">
                        <label class="title"><span style="color:red;padding-right:5px">*</span>主要目的地 <span
                                class="en"></span>：</label>
                        <input type="text" placeholder="" class="form-control purpose" value="${ele.purpose}" disabled>
                    </div>
                    <div class="form-group">
                        <label class="title"><span style="color:red;padding-right:5px">*</span>出行方式 <span
                                class="en"></span>：</label>
                        <input type="text" placeholder="" class="form-control way" value="${ele.way}" disabled>
                    </div>
                    <div class="form-group">
                        <label class="title"><span style="color:red;padding-right:5px">*</span>车次 <span
                                class="en"></span>：</label>
                        <input type="text" placeholder="没有请填写无" class="form-control trains1" value="${ele.trains1}" disabled>
                    </div>
                    <div class="form-group">
                        <label class="title"><span style="color:red;padding-right:5px">*</span>出行时间 <span
                                class="en"></span>：</label>
                        <input type="text" placeholder="" class="form-control start_time" value="${ele.start_time}" disabled>
                    </div>
                    <div class="form-group">
                        <label class="title"><span style="color:red;padding-right:5px">*</span>返回时间 <span
                                class="en"></span>：</label>
                        <input type="text" placeholder="" class="form-control en_time" value="${ele.en_time}" disabled>
                    </div>
                    <div class="form-group">
                        <label class="title"><span style="color:red;padding-right:5px">*</span>车次 <span
                                class="en"></span>：</label>
                        <input type="text" placeholder="没有请填写无" class="form-control trains2" value="${ele.trains2}" disabled>
                    </div>
                    <div class="form-group">
                        <label class="title"><span style="color:red;padding-right:5px"></span>备注<span
                                class="en"></span>：</label>
                        <textarea class="note" style="width: 100%;" disabled>${ele.note} </textarea>
                    </div>
                    <p style="width: 100%;height: 1px;background-color: #b3aba0;"></p>
                </div>`;
                            })
                            $('#travel-body').html(html);
                            $('#exampleModalCenterTitle').text($(e.target).data('username'));
                        })
                    });
                </script>
</body>

</html>